<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <div th:fragment="login">

        <script th:src="@{/js/navbar/login.js}" defer></script>

        <div class="modal fade" id="login_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header bg-success">
                        <h4 class="text-light pt-2">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span class="ms-2">Login</span>
                        </h4>
                        <button type="button" class="btn btn-success ms-auto" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>

                    <div hx-ext="json-enc, response-targets">
                        <form id="login_form" hx-post="/login" hx-swap="innerHTML"
                              hx-target="#login_response" hx-target-error="#login_error">

                            <div class="modal-body bg-dark text-light">
                                <label for="login_email" class="form-label ms-1">
                                    <i class="fa-solid fa-envelope"></i>
                                    <span class="ms-1">Email</span>
                                </label>
                                <input class="form-control bg-dark text-light mb-1" type="email" id="login_email" name="email" required>

                                <label for="login_password" class="form-label ms-1">
                                    <i class="fa-solid fa-key"></i>
                                    <span class="ms-1">Password</span>
                                </label>
                                <input class="form-control bg-dark text-light" type="password" id="login_password" name="password" required>

                                <div id="login_response"></div>
                                <div id="login_error"></div>
                            </div>

                            <div class="modal-footer bg-dark">
                                <i class="fa-solid fa-circle-notch fa-spin text-light htmx-indicator ms-auto"></i>

                                <button type="submit" class="btn btn-success ms-2">
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                    <span class="ms-1">Login</span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</html>