<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <div th:fragment="menu">
        <div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="false" data-bs-backdrop="true" id="menu_offcanvas">

            <div class="offcanvas-header">
                <button type="button" class="btn btn-dark text-light ms-auto" data-bs-dismiss="offcanvas" id="menu_close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column mb-1">
                    <li class="nav-item">
                        <a class="nav-link text-light active" href="/" id="home_link">
                            <i class="fa-solid fa-house fa-fw"></i>
                            <span class="ms-1">Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/" id="places_link">
                            <i class="fa-solid fa-location-dot fa-fw"></i>
                            <span class="ms-1">Places</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</html>