<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <div th:fragment="menu">
        <div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true" data-bs-backdrop="false" id="menu_offcanvas">

            <div class="offcanvas-header">
                <button type="button" class="btn btn-dark ms-auto" data-bs-dismiss="offcanvas">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column mb-1">
                    <li class="nav-item">
                        <a class="nav-link text-light active" href="/">
                            <i class="fa-solid fa-house fa-fw"></i>
                            <span class="ms-1">Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">
                            <i class="fa-solid fa-location-dot fa-fw"></i>
                            <span class="ms-1">Places</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</html>