<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
        <script th:src="@{/webjars/htmx.org/dist/ext/json-enc.js}"></script>
        <script th:src="@{/webjars/htmx.org/dist/ext/response-targets.js}"></script>

        <title>Ascent</title>
    </head>

</html>